*{margin:0;padding:0;font-family: Arial, Helvetica, sans-serif;}
@font-face{
  font-family: MarchShine;
  src: url('/March Shine.otf');
}
:root{
  --Accent1: #002366;
  --Accent2: #5c0091;
  --Gold: #FFD700;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5); 
}

body{
  overflow-x: overlay;
  overflow-y: hidden;
  background: var(--Accent2);
}

.wrapper{
  margin-left: calc(50% - 250px);
  white-space: normal;
  display: inline-flex;
  align-items: center;
  gap: 1vw;
}

.event{
  max-width: 500px;
  width: calc(100vw - 30px);
  float: left;
  display: inline-block;
  white-space: normal;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.15);
  background: #fff;
}

.dash{
  display: block;
  width: 8vw;
  height: 0;
  border: 2px outset #FFD700;
  clip-path: 
    polygon(
      0% 50%,     /* top left */
      2px 0%,     /* top left */
      calc(100% - 2px) 0%,    /* top right */
      100% 50%,   /* top right */
      100% 50%,  /* bottom right */
      calc(100% - 2px) 100%,  /* bottom right */
      2px 100%,   /* bottom left */
      0 50%      /* bottom left */
    );
}

.event:first-child:before{
  border: none;
  margin-bottom: 0px;
}

img{
  max-width: calc(100vw - 30px);
  height: auto;
  border-radius: 15px 15px 0 0;
}

.info{
  padding: 15px;
}

.DateWrapper{
  position: relative;
}

.date:before,.date:after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  display: grid;
  height: 0px;
  width: 33%;
  border: 2px outset #FFD700;
  clip-path: 
    polygon(
      0% 50%,     /* top left */
      2px 0%,     /* top left */
      calc(100% - 2px) 0%,    /* top right */
      100% 50%,   /* top right */
      100% 50%,  /* bottom right */
      calc(100% - 2px) 100%,  /* bottom right */
      2px 100%,   /* bottom left */
      0 50%      /* bottom left */
    );
}

.date:before{
  left: 0;
}

.date{
  width: 33%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
}

.date:after{
  right: 0;
}

h1{
  font-family: MarchShine;
  font-size: 4em;
}

.fade{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, rgba(92,0,145,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(92,0,145,1) 100%);
  pointer-events: none;
}
@media (max-width: 500px){
  .wrapper{
    margin-left: 0;
  }
}
