*{margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;}
:root{
  --Accent1: #0477bf;
  --Accent2: #5c0091;
}
body{overflow: overlay;}
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url(img/IMG_20181228_145311.jpg) url(img/DSC_0293.jpg) url(img/PXL_20230128_213922520.jpg) url(img/71697800_2682165338506904_3717268502193635328_n.jpg);
}

@font-face{
  font-family: MarchShine;
  src: url('March Shine.otf');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5); 
}

/* ------------------------------ Nav ------------------------------ */
.img-res{
  width: 100%;
  height: auto;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background: rgba(255,255,255,.35);
  backdrop-filter: blur(5px);
  font-size: 1.25em;
  z-index: 10001;
}

.NavLogo{
  height: 40px;
  width: auto;
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.75));
}

.NavLogo:hover{
  filter: invert(52%) sepia(81%) saturate(7490%) hue-rotate(187deg) brightness(93%) contrast(97%) drop-shadow(2px 2px 3px rgba(0,0,0,0.75));
}

nav>div{
  height: 100%;
  display: flex;
  align-items: center;
}

nav>div>a{
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  height: 50px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

nav>div>a:hover{
  background: #fff;
  color: var(--Accent1);
}

.leftMenu{
  float: left;
}

.leftMenu>a{
  font-family: MarchShine;
  font-size: 2em;
}

.rightMenu{
  float: right;
  transition: all 1s;
  line-height: 50px;
  padding-right: 10px;
}

#MenuExpander{
  float: right;
  display: none;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: absolute;
  right: 0;
}

#MenuExpander:hover{
  color: var(--Accent1);
}

#MenuExpander>span{
  transition: transform .5s;
}

/* ------------------------------ Carousel Overlay ------------------------------ */

.CarouselOverlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  pointer-events: none;
}

.OverlayCont{
  text-align: center;
  color: white;
  z-index: 500;
  margin-top: 35px;
}

.TitleGlass{
  display: block;
  position: relative;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,.35);
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.15);
  width: 72%;
  height: 75%;
  z-index: 2;
  transform: translate(20%,-115%);
}

.title{
  z-index: 1000;
  position: relative;
}

/* ------------------------------ Content ------------------------------ */
.content{
  width: 100%;
}

.Timeline>iframe{
  height: 100%;
  width: 100%;
}

/* ------------------------------ Mobile ------------------------------ */
@media (max-width: 500px){
  #MenuExpander{
    display: block;
  }

  #MenuExpander>span{
    display: block;
  }

  #MenuExpander>span.flip{
    transform: translate(0px, -1px) rotate(180deg);
  }

  .leftMenu{
    width: 100%;
  }

  .leftMenu>a{
    padding: none;
    margin: 0 auto;
  }

  .rightMenu{
    float: left;
    width: 100%;
    height: 0px;
    visibility: visible;
    background: rgba(255,255,255,.35);
    display: block;
    overflow: hidden;
  }

  .rightMenu>a{
    display: block;
  }

  .Expanded{
    height: 200px;
  }

  .prev,.next{
    visibility: hidden;
  }
}

/* ------------------------------ CAROUSEL ------------------------------ */
/* Carousel Slides */
.mySlides:nth-child(1) {
  background-image: url('img/IMG_20181228_145311.jpg');
}
.mySlides:nth-child(2) {
  background-image: url('img/DSC_0293.jpg');
}
.mySlides:nth-child(3) {
  background-image: url('img/PXL_20230128_213922520.jpg');
}
.mySlides:nth-child(4) {
  background-image: url('img/71697800_2682165338506904_3717268502193635328_n.jpg');
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
  background: #000;
  overflow-x: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(255,255,255,.5);
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(255,255,255,1);
}

/* The dots/bullets/indicators */
.dots{
  text-align: center;
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
}

.DotParent{
  position: fixed;
  z-index: 10000;
  top: 0;
  height: 100px;
  width: 100%;
}

.DPAnim{
  transition: top 1s;
}

.stuck{
  position: absolute;
  top: calc(100vh - 55px);
}

.DotsExpanded{
  top: 200px !important;
}

.dot {
  cursor: pointer;
  height: 50px;
  width: 25%;
  margin: -2px;
  display: inline-block;
  z-index: 10;
  transition: top .5s;
}

.dot>.indicator{
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: rgba(255,255,255,.5);
  transition: all .5s;
}

.dot:hover>.indicator{
  background: rgba(255,255,255,.9);
  height: 50% !important;
}

.dot.active>.indicator{
  background: rgba(255,255,255,.9);
  height: 10%;
}

/* Fading animation */
.fade {
  animation: fade 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes fade{
  0%{
    opacity: .7;
  }
  20%{
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 2em}
}

.mySlides{
  background-size: cover;
  background-position: center center;
  height: 100%;
}